.profile-description{
    margin: 1rem .2rem .5rem 1.5rem;
}
.profile-side-avatar{
    width: 70px;
	height: 70px;
	object-fit: cover;
	padding: 5px;
	border-radius: 50%;
	border: 5px solid rgba(222, 156, 14, 0.632);
	margin: 5px;
}
.profile-stories{
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    padding: 0px 15px;
}
.profile-section-into-3{
    margin-top: 0rem;
	display: flex;
	justify-content: space-evenly;
	height: 50px;
	align-items: center;
}
.follow-btn{
    width: 100%;
    text-align: center;
    margin-top:.8rem ;
}
.profile-follow-btn{
    padding: .5rem 7.5rem;
    background-color: rgb(45, 45, 232);
    color: white;
}
.profile-follow-btn:hover{
    cursor: pointer;
    box-shadow: 0 1px 2px 1px rgba(0, 0, 0, 0.2);
}
.profile-follow-btn:hover{
    box-shadow: 0 .5px .5px .5px rgba(0, 0, 0, 0.1);
}
.profile-followed-btn{
    padding: 2px 20px;
    background-color: rgb(202, 202, 202);
    color: black;
    margin: 0 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.profile-tick-icon{
    padding-top: 10px;
}
