.header-2-box {
	margin-left: 22%;
	padding: 2rem 1rem;
    background-color: #fafafa;
	position: sticky;
	top: 0;
	left: 22%;
	z-index: 10;
}
.header-2-form {
	display: inline-block;
}
.header-search {
	padding-top: 1rem;
}
.header-add-post {
	display: inline;
	float: right;
	margin-right: 2rem;
}
.header-add-post-card {
	display: flex;
	align-items: center;
	padding: 0.5rem 1rem;
	background: url('../../../public/insta-bg.jpg') no-repeat center center/cover;
	color: white;
	font-weight: 700;
	border-radius: 10px;
}
.add-post-more {
	margin-top: 8px;
	margin-right: 8px;
}
.header-add-post-card:hover {
	cursor: pointer;
	box-shadow: 0px 2px 2px 2px rgba(0, 0, 0, 0.2);
}
.header-add-post-card:active {
	box-shadow: 0px 1px 2px 0.5px rgba(0, 0, 0, 0.1);
}
.header-logout{
	display: flex;
	align-items: center;
	padding: 0.5rem 1rem;
	background-color: rgb(255, 254, 254);
	border:2px solid #b4b4b4;
	color: grey;
	font-weight: 700;
	border-radius: 10px;
}
.header-logout:hover{
	cursor: pointer;
	box-shadow: 0px 2px 2px 2px rgba(0, 0, 0, 0.2);
}
.header-logout:active{
	box-shadow: 0px 1px 2px 0.5px rgba(0, 0, 0, 0.1);
}