.app{
    background-color: #fafafa;
  }
  .app_header{
    object-fit: contain;
    padding: 20px;
    background-color: white;
    border-bottom: 1px solid lightgray;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .app_headerImage{
    width: 150px;
    margin-right: auto;
  }
  .header_form{
    margin-right: auto;
    height: min-content;
  }
  .login-white-btn{
    padding: 5px 15px;
    margin: 0 .5rem 0 1rem;
    background-color:#0095f6;
    color: white;
    font-weight: 600;
    border: 2px solid white;
    border-radius: 4px;
  }
  .signin-white-btn{
    padding: 5px 15px;
    background-color: white;
    color: #0095f6;
    font-weight: 600;
    border: 2px solid white;
    border-radius: 4px;
  }
  .signin-white-btn:hover{
    border: 2px solid lightgray;
  }