.min-h{
    min-height: 97.5vh;
}
.login_box::before{
    content: "";
    position: absolute;
    background: url('../../../public/insta-bg.jpg') no-repeat center center/cover;
    height: 100%;
    width: 100%;
    z-index: -1;
    opacity: 0.89;
}
.login_body{
    display: flex;
}
.part-1{
    object-fit: contain;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-items: center;
}
.insta_logo{
    width: 100px;
}
.insta_Phones{
    width: 580px;
    margin-right: -10rem;
}
.part-2{
    
    display: flex;
    justify-content: center;
    align-items: center;
}
.login_body-container{
    height: 550px;
    width: 500px;
    margin-left: -15rem;
    text-align: center;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.app_headerImage_login{
    width: 200px;
    margin-bottom: 20px;
}
.input-child{
    width: 400px;
}
.login-btn{
    margin: 20px 0 25px 0;
    padding: 5px;
    background-color: #0095f6;
    color: white;
    font-weight: 600;
    border: none;
    border-radius: 4px;
}
.login-btn:hover{
    cursor: pointer;
    background-color: #0490ee;
}
.login-btn:active{
    background-color: #0297fa;
}
.or-line{
    display: flex;
    justify-content: center;
    align-items: center;
}
.line{
    width: 150px;
    margin: 25px;
}
.facebook-login{
width: 50px;
}
.forgot-pass{
    color: #006eb8;
    font-weight: 500;
}
.forgot-pass:hover{
    cursor: pointer;
}
.store-download{
    width: 150px;
    margin: 0 10px 0 10px;
    border: none;
    border-radius:10px;
    margin-top: 2rem;
    box-shadow: 2px 5px 10px 5px rgba(0, 0, 1, 0.3);
}
.store-download:hover{
    box-shadow: 3px 5px 13px 8px rgba(0, 0, 1, 0.4);
}
.store-div{
    margin-left: 15rem;
}